.DS_Store
OAI_CONFIG_LIST.json

node_modules
autobnb-app/node_modules

__pycache__
venv

agents/__pycache__/

logs

package-lock.json

autogen

user_request.txt
sorted_listings.txt

**/__pycache__
*.pyc